<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <div class="col-md-6">
    <ol class="list-group list-group-numbered list-group-horizontal">
      <% product.categories.each do |pc| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><%= pc.name %></div>
            <span class="badge bg-primary rounded-pill"><%= pc.products.count %></span>
          </div>
        </li>
      <% end %>
    </ol>
  </div>


</div>
